body{
    margin: 0px;
    background-color: white;
}

#main_section { 
    margin-left:20px;
    margin-right:20px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    border: 5px dotted pink;
    border-radius: 5px;
}

h1{
    text-align: center;
    font-size: 60px;
    font-style: italic;
    color:pink;
}

nav{
    margin-left:5px;
    margin-right:5px;
    
}

.navbar ul{
    border-radius: 5px;
    list-style-type:none;
    background-color: pink;
    padding:5px;
    margin-left:10px;
    margin-right:10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.navbar a{
    color:white;
    text-decoration: none;
    padding:15px;
    display: block;
    text-align: center;
    font-size:20px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 1px black;
}

.navbar a:hover{
    background-color: pink;
}


.navbar li{
    float:left;
}

#main_banner img{
    display: flex;
    align-content: center;
    justify-content: center;
    
    
}

#main_banner{
    background-color: pink;
    padding:20px;
}

#about_banner{
    background-color: pink;
}

#about_banner p{
    font-size:1.3em;
}

#products{
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width:80%;
    border:5px dotted black;
    border-radius: 5px;
    margin:10px auto;
    background-color: pink;
    color:black;
    text-align: center;
    font-weight: bold;

}

#product_card{
    margin: 10px;
    width:100%;
    border:2px solid red; 
    background-color: pink;

}

#product_card p{
    font-size: 1.2rem;
}

#product_card img{
    width: 100%;
}